@import "semantic-ui";
@import 'bootstrap/dist/css/bootstrap';

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #062A32;
  color: white;
  text-align: center;

}

#menu-color {
  background-color: #062A32;
}

body {
  background-color: #060b12;
  color: white;
}

.form-grid {
    padding-left: 250px;

}

.form-attr {
   background-color: #CACBCD !important;
}

#label-id {
  color: white;
  padding-top: 50px;
  padding-bottom: 5px;
}

#bar {
  width: 562px;
}

#card-color {
  background-color: #CACBCD;
}

#content-color {
  color: white !important;
}

#user-icon {
  padding-bottom: 15px;
}

.alert-format {
  padding-top: 10px;
  width: 330px;
}

.table-format {
  padding-top: 10px !important;
}
